<html>
  <head>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" />
    <meta http-equiv="Expires" content="0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="/static/w3/w3.css" />
    <link
      rel="stylesheet"
      href="/static/w3/w3-theme-{{.Theme}}.css"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/request.js"></script>
  </head>

  <body class="w3-theme-l4">
    <div id="heading" class="w3-row w3-theme-d1">
      {{template "heading" .}}
    </div>

    <div class="w3-container">
      <select
        id="selected-controller"
        name="selected-controller"
        class="w3-select w3-theme-l5 w3-margin-top"
        onchange="selectController();"
      >
        {{range $index, $element := .Controllers}}
        <option value="{{$index}}">
          {{.Title}}: {{.Port}}
        </option>
        {{end}}
      </select>

      <select
        id="selected-view"
        name="selected-view"
        class="w3-select w3-theme-l5 w3-margin-top"
        onchange="selectView(value);"
      >
        <option value="/status/">Status</option>
        <option value="/commands/">Commands</option>
        <option value="/settings/" selected>Settings</option>
      </select>
    </div>
    <div
      id="details"
      class="w3-container w3-theme-l4 w3-margin-top"
    ></div>
    <div id="dialog" class="w3-modal w3-card w3-theme-l4"></div>
    <div id="options" class="w3-modal w3-card w3-theme-l4">
      {{template "options" .}}
    </div>
  </body>
  <script defer>
    selectView("settings");
  </script>
</html>

<!-- heading -->
{{define "heading"}}
<div class="w3-container w3-padding">
  {{$color := .PowerOff}} {{if .Controller.Active}} {{$color =
  .PowerOn}} {{end}}
  <span class="w3-left">
    <img
      src="/static/bug-{{.Icon}}.png"
      alt="bug"
      class="logo"
      onclick="openOptions()"
    />
  </span>
  <span class="w3-right">
    <img
      src="/static/power-{{$color}}.png"
      alt="power"
      class="logo"
    />
  </span>
  <div class="w3-center" style="font-size: 0.7rem">
    {{.Controller.Title}}
  </div>
</div>
{{end}}

<!-- options dialog -->
{{define "options"}}
<!--  -->
{{$theme := .Theme}} {{$icon := .Icon}} {{$on := .PowerOn}}
{{$off := .PowerOff}}
<div class="w3-modal-content">
  <header id="heading" class="w3-container w3-theme-d1">
    <h6>
      <div class="w3-left">Options: apply and reload</div>
      <div
        class="w3-button w3-display-topright"
        onclick="closeOptions()"
      >
        &times;
      </div>
    </h6>
  </header>
  <form class="w3-container">
    <label class="w3-margin-top" for="selected-theme"
      >Theme</label
    >
    <select
      id="selected-theme"
      name="selected-theme"
      onchange=""
      value="{{$theme}}"
      class="w3-select w3-{{.Theme}}"
    >
      {{range $index, $element := .Themes}}
      <option
        class="w3-{{$element}}"
        value="{{$element}}"
        {{if
        eq
        $element
        $theme}}
        selected
        {{end}}
      >
        {{$element}}
      </option>
      {{end}}
    </select>

    <label for="selected-icon" class="w3-margin-top"
      >Icon Color</label
    >
    <select
      id="selected-icon"
      name="selected-icon"
      onchange=""
      value="{{$icon}}"
      class="w3-select w3-{{$icon}}"
    >
      {{range $index, $element := .Icons}}
      <option
        class="w3-{{$element}}"
        value="{{$element}}"
        {{if
        eq
        $element
        $icon}}
        selected
        {{end}}
      >
        {{$element}}
      </option>
      {{end}}
    </select>

    <label for="selected-on" class="w3-margin-top"
      >Power On Color</label
    >
    <select
      id="selected-on"
      name="selected-on"
      onchange=""
      value="{{$on}}"
      class="w3-select w3-{{$on}}"
    >
      {{range $index, $element := .PowerButtons}}
      <option
        class="w3-{{$element}}"
        value="{{$element}}"
        {{if
        eq
        $element
        $on}}
        selected
        {{end}}
      >
        {{$element}}
      </option>
      {{end}}
    </select>

    <label for="selected-off" class="w3-margin-top"
      >Power Off Color</label
    >
    <select
      id="selected-off"
      name="selected-off"
      onchange=""
      value="{{$off}}"
      class="w3-select w3-{{$off}}"
    >
      {{range $index, $element := .PowerButtons}}
      <option
        class="w3-{{$element}}"
        value="{{$element}}"
        {{if
        eq
        $element
        $off}}
        selected
        {{end}}
      >
        {{$element}}
      </option>
      {{end}}
    </select>
  </form>
  <footer class="w3-container w3-theme-d1">
    <button
      onclick="closeOptions()"
      class="w3-btn w3-round w3-left w3-theme-d2 w3-margin"
    >
      Cancel
    </button>
    <button
      onclick="applyOptions()"
      class="w3-btn w3-round w3-right w3-theme-d2 w3-margin"
    >
      Apply
    </button>
  </footer>
</div>
{{end}}

<!-- list -->
{{define "list"}}
<div class="w3-responsive">
  <table class="w3-table w3-striped">
    <!-- -->
    {{range $id, $form := .}}
    <!-- -->
    {{range $i, $ent := $form.Entries}}
    <tr>
      <td>
        <a
          class="w3-hover-theme"
          href="{{$ent.InfoURL $form.BaseUrl}}"
          target="_blank"
          title="Get more information."
          >{{$ent.Code}}</a
        >
      </td>
      <td>
        <a
          class="w3-hover-theme"
          href="javascript:openEdit('{{$id}}');"
          title="Edit current setting."
          >{{$ent.Label}}</a
        >
      </td>
      {{$v := $ent.Value $form.Value}}
      <td id="{{$ent.ID}}">{{$v}}</td>
    </tr>
    {{end}}{{end}}
  </table>
</div>
{{end}}

<!-- settings-edit -->
{{define "edit"}} {{$value := .Value}}{{$first := index .Entries
0}} {{$base := .BaseUrl}}
<div class="w3-modal-content">
  <header id="heading" class="w3-container w3-theme-d1">
    <h6>
      <div class="w3-left">
        {{$first.Label}}: {{$first.Code}}
      </div>
      <div class="w3-button w3-right" onclick="closeDialog()">
        &times;
      </div>
      <a
        class="w3-button w3-right"
        href="{{$first.InfoURL $base}}"
        target="_blank"
        title="help..."
        >&quest;</a
      >
    </h6>
  </header>
  <br />
  <form
    id="settings-form"
    name="settings-form"
    method="post"
    action="/apply/{{$first.ID}}/"
  >
    <div class="w3-container">
      {{range $id, $ent := .Entries}}
      <!--  -->
      {{if ne $ent.Type "mask"}}
      <!--  -->
      {{$f:=$ent.FormatInput $value $first}}
      <label>
        <input
          id="{{$f.ID}}"
          name="{{$f.Name}}"
          class="{{$f.Class}}"
          type="{{$f.Type}}"
          {{if
          $f.HasChecked}}
          checked
          {{end}}
          {{if
          $f.HasRange}}
          min="{{$ent.Min}}"
          max="{{$ent.Max}}"
          {{end}}
          {{if
          $f.HasStep}}
          step="{{$ent.Step}}"
          {{end}}
          value="{{$f.Value}}"
        />
        {{$ent.Label}}</label
      >
      <p></p>
      {{end}} {{end}}
    </div>
    <footer class="w3-container w3-theme-d1">
      <button
        type="button"
        onclick="closeDialog()"
        class="w3-btn w3-round w3-left w3-theme-l2 w3-margin"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="w3-btn w3-round w3-right w3-theme-l2 w3-margin"
      >
        Apply
      </button>
    </footer>
  </form>
</div>
<!--          onclick="applySetting('{{$first.ID}}')"
-->
{{end}}

<!-- error -->
{{define "error"}} An error has occurred. Sad. {{end}}

<!-- command table -->
{{define "commands-list"}}
<div class="w3-responsive">
  <table class="w3-table w3-striped">
    {{range $code, $val := .Commands}}
    <tr>
      <td>
        <a href="{{$val.LinkHelp}}" target="_blank"
          >{{$code}}</a
        >
      </td>
      <td>
        <a href="#">{{$val.Label}}</a>
      </td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}

<!-- status -->
{{define "status"}}
<h5>Status:</h5>
{{end}}
