body {
    font-family: sans-serif;
    margin: 1em;
}

.logo {
    width: 2.8rem; 
    height: 2.8rem;
}

.pop-doc {
    max-height:9rem;
    overflow-y:auto;
}

.content {
    display: flex;
    flex-flow: row wrap;
    max-height: 30rem;
  }
  
.doc {
    overflow-y: auto;
    max-height: 14rem;
    min-height: 5rem;
    margin: 1rem;
}

.entries {
    display: flex;
    flex: 14rem;
    flex-flow: row wrap;
}
.doc li {
    font-size: 0.9rem;
}

.doc h4 {
    font-size: 0.9rem;
}

.doc ul {
    list-style-type: circle;
}
  
  