:root {
--w3-l5: #000;
--w3-l5-bg: #edfdff;
--w3-l4: #000;
--w3-l4-bg: #c4f8ff;
--w3-l3: #000;
--w3-l3-bg: #89f1ff;
--w3-l2: #000;
--w3-l2-bg: #4eeaff;
--w3-l1: #000;
--w3-l1-bg: #12e3ff;
--w3-d1: #fff;
--w3-d1-bg: #00aac1;
--w3-d2: #fff;
--w3-d2-bg: #0097ab;
--w3-d3: #fff;
--w3-d3-bg: #008496;
--w3-d4: #fff;
--w3-d4-bg: #007281;
--w3-d5: #fff;
--w3-d5-bg: #005f6b;
--w3-light: #000;
--w3-light-bg: #edfdff;
--w3-dark: #fff;
--w3-dark-bg: #005f6b;
--w3-action: #fff;
--w3-action-bg: #005f6b;
--w3: #fff;
--w3-bg: #00bcd4;
--w3-text: #00bcd4;
--w3-border: #00bcd4;
--w3-hover: #fff;
--w3-hover-bg: #00bcd4;
--w3-hover-text: #00bcd4;
--w3-hover-border: #00bcd4;
}
