:root {
  --w3-l5: #000;
  --w3-l5-bg: #f4faf4;
  --w3-l4: #000;
  --w3-l4-bg: #dbefdc;
  --w3-l3: #000;
  --w3-l3-bg: #b7dfb8;
  --w3-l2: #000;
  --w3-l2-bg: #93cf95;
  --w3-l1: #fff;
  --w3-l1-bg: #6ec071;
  --w3-d1: #fff;
  --w3-d1-bg: #459c48;
  --w3-d2: #fff;
  --w3-d2-bg: #3d8b40;
  --w3-d3: #fff;
  --w3-d3-bg: #357a38;
  --w3-d4: #fff;
  --w3-d4-bg: #2e6830;
  --w3-d5: #fff;
  --w3-d5-bg: #265728;
  --w3-light: #000;
  --w3-light-bg: #f4faf4;
  --w3-dark: #fff;
  --w3-dark-bg: #265728;
  --w3-action: #fff;
  --w3-action-bg: #265728;
  --w3: #fff;
  --w3-bg: #4caf50;
  --w3-text: #4caf50;
  --w3-border: #4caf50;
  --w3-hover: #fff;
  --w3-hover-bg: #4caf50;
  --w3-hover-text: #4caf50;
  --w3-hover-border: #4caf50;
}
