:root {
  --w3-l5: #000;
  --w3-l5-bg: #f6f6f6;
  --w3-l4: #000;
  --w3-l4-bg: #dfdfdf;
  --w3-l3: #000;
  --w3-l3-bg: #c0c0c0;
  --w3-l2: #fff;
  --w3-l2-bg: #a0a0a0;
  --w3-l1: #fff;
  --w3-l1-bg: #818181;
  --w3-d1: #fff;
  --w3-d1-bg: #575757;
  --w3-d2: #fff;
  --w3-d2-bg: #4e4e4e;
  --w3-d3: #fff;
  --w3-d3-bg: #444444;
  --w3-d4: #fff;
  --w3-d4-bg: #3a3a3a;
  --w3-d5: #fff;
  --w3-d5-bg: #303030;
  --w3-light: #000;
  --w3-light-bg: #f6f6f6;
  --w3-dark: #fff;
  --w3-dark-bg: #303030;
  --w3-action: #fff;
  --w3-action-bg: #303030;
  --w3: #fff;
  --w3-bg: #616161;
  --w3-text: #616161;
  --w3-border: #616161;
  --w3-hover: #fff;
  --w3-hover-bg: #616161;
  --w3-hover-text: #616161;
  --w3-hover-border: #616161;
}
