:root {
--w3-l5: #000;
--w3-l5-bg: #fef4f3;
--w3-l4: #000;
--w3-l4-bg: #fdd9d6;
--w3-l3: #000;
--w3-l3-bg: #fbb3ae;
--w3-l2: #000;
--w3-l2-bg: #f98d85;
--w3-l1: #fff;
--w3-l1-bg: #f6665c;
--w3-d1: #fff;
--w3-d1-bg: #f32617;
--w3-d2: #fff;
--w3-d2-bg: #e11a0c;
--w3-d3: #fff;
--w3-d3-bg: #c5170a;
--w3-d4: #fff;
--w3-d4-bg: #a91409;
--w3-d5: #fff;
--w3-d5-bg: #8d1007;
--w3-light: #000;
--w3-light-bg: #fef4f3;
--w3-dark: #fff;
--w3-dark-bg: #8d1007;
--w3-action: #fff;
--w3-action-bg: #8d1007;
--w3: #fff;
--w3-bg: #f44336;
--w3-text: #f44336;
--w3-border: #f44336;
--w3-hover: #fff;
--w3-hover-bg: #f44336;
--w3-hover-text: #f44336;
--w3-hover-border: #f44336;
}
