:root {
  --w3-l5: #000;
  --w3-l5-bg: #fff9f0;
  --w3-l4: #000;
  --w3-l4-bg: #ffebcc;
  --w3-l3: #000;
  --w3-l3-bg: #ffd699;
  --w3-l2: #000;
  --w3-l2-bg: #ffc266;
  --w3-l1: #000;
  --w3-l1-bg: #ffad33;
  --w3-d1: #fff;
  --w3-d1-bg: #e68a00;
  --w3-d2: #fff;
  --w3-d2-bg: #cc7a00;
  --w3-d3: #fff;
  --w3-d3-bg: #b36b00;
  --w3-d4: #fff;
  --w3-d4-bg: #995c00;
  --w3-d5: #fff;
  --w3-d5-bg: #804d00;
  --w3-light: #000;
  --w3-light-bg: #fff9f0;
  --w3-dark: #fff;
  --w3-dark-bg: #804d00;
  --w3-action: #fff;
  --w3-action-bg: #804d00;
  --w3: #000;
  --w3-bg: #ff9800;
  --w3-text: #ff9800;
  --w3-border: #ff9800;
  --w3-hover: #000;
  --w3-hover-bg: #ff9800;
  --w3-hover-text: #ff9800;
  --w3-hover-border: #ff9800;
}
