:root {
  --w3-l5: #000;
  --w3-l5-bg: #fffbf0;
  --w3-l4: #000;
  --w3-l4-bg: #fff3cd;
  --w3-l3: #000;
  --w3-l3-bg: #ffe69b;
  --w3-l2: #000;
  --w3-l2-bg: #ffda69;
  --w3-l1: #000;
  --w3-l1-bg: #ffcd37;
  --w3-d1: #000;
  --w3-d1-bg: #eab000;
  --w3-d2: #fff;
  --w3-d2-bg: #d09c00;
  --w3-d3: #fff;
  --w3-d3-bg: #b68900;
  --w3-d4: #fff;
  --w3-d4-bg: #9c7500;
  --w3-d5: #fff;
  --w3-d5-bg: #826200;
  --w3-light: #000;
  --w3-light-bg: #fffbf0;
  --w3-dark: #fff;
  --w3-dark-bg: #826200;
  --w3-action: #fff;
  --w3-action-bg: #826200;
  --w3: #000;
  --w3-bg: #ffc107;
  --w3-text: #ffc107;
  --w3-border: #ffc107;
  --w3-hover: #000;
  --w3-hover-bg: #ffc107;
  --w3-hover-text: #ffc107;
  --w3-hover-border: #ffc107;
}
