:root {
  --w3-l5: #000;
  --w3-l5-bg: #f6f3fb;
  --w3-l4: #000;
  --w3-l4-bg: #e0d6f2;
  --w3-l3: #000;
  --w3-l3-bg: #c1ade5;
  --w3-l2: #fff;
  --w3-l2-bg: #a384d8;
  --w3-l1: #fff;
  --w3-l1-bg: #845bcb;
  --w3-d1: #fff;
  --w3-d1-bg: #5d34a4;
  --w3-d2: #fff;
  --w3-d2-bg: #532e92;
  --w3-d3: #fff;
  --w3-d3-bg: #482880;
  --w3-d4: #fff;
  --w3-d4-bg: #3e236d;
  --w3-d5: #fff;
  --w3-d5-bg: #341d5b;
  --w3-light: #000;
  --w3-light-bg: #f6f3fb;
  --w3-dark: #fff;
  --w3-dark-bg: #341d5b;
  --w3-action: #fff;
  --w3-action-bg: #341d5b;
  --w3: #fff;
  --w3-bg: #673ab7;
  --w3-text: #673ab7;
  --w3-border: #673ab7;
  --w3-hover: #fff;
  --w3-hover-bg: #673ab7;
  --w3-hover-text: #673ab7;
  --w3-hover-border: #673ab7;
}
