:root {
--w3-l5: #000;
--w3-l5-bg: #f5f7f8;
--w3-l4: #000;
--w3-l4-bg: #dfe5e8;
--w3-l3: #000;
--w3-l3-bg: #becbd2;
--w3-l2: #000;
--w3-l2-bg: #9eb1bb;
--w3-l1: #fff;
--w3-l1-bg: #7d97a5;
--w3-d1: #fff;
--w3-d1-bg: #57707d;
--w3-d2: #fff;
--w3-d2-bg: #4d636f;
--w3-d3: #fff;
--w3-d3-bg: #435761;
--w3-d4: #fff;
--w3-d4-bg: #3a4b53;
--w3-d5: #fff;
--w3-d5-bg: #303e45;
--w3-light: #000;
--w3-light-bg: #f5f7f8;
--w3-dark: #fff;
--w3-dark-bg: #303e45;
--w3-action: #fff;
--w3-action-bg: #303e45;
--w3: #fff;
--w3-bg: #607d8b;
--w3-text: #607d8b;
--w3-border: #607d8b;
--w3-hover: #fff;
--w3-hover-bg: #607d8b;
--w3-hover-text: #607d8b;
--w3-hover-border: #607d8b;
}
