:root {
--w3-l5: #000;
--w3-l5-bg: #f8fcfe;
--w3-l4: #000;
--w3-l4-bg: #e7f5fb;
--w3-l3: #000;
--w3-l3-bg: #d0ecf7;
--w3-l2: #000;
--w3-l2-bg: #b8e2f3;
--w3-l1: #000;
--w3-l1-bg: #a1d9ef;
--w3-d1: #000;
--w3-d1-bg: #69c2e6;
--w3-d2: #fff;
--w3-d2-bg: #4ab6e0;
--w3-d3: #fff;
--w3-d3-bg: #2aa9db;
--w3-d4: #fff;
--w3-d4-bg: #2092bf;
--w3-d5: #fff;
--w3-d5-bg: #1b7a9f;
--w3-light: #000;
--w3-light-bg: #f8fcfe;
--w3-dark: #fff;
--w3-dark-bg: #1b7a9f;
--w3-action: #fff;
--w3-action-bg: #1b7a9f;
--w3: #000;
--w3-bg: #87ceeb;
--w3-text: #87ceeb;
--w3-border: #87ceeb;
--w3-hover: #000;
--w3-hover-bg: #87ceeb;
--w3-hover-text: #87ceeb;
--w3-hover-border: #87ceeb;
}
