:root {
  --w3-l5: #000;
  --w3-l5-bg: #f2f9fe;
  --w3-l4: #000;
  --w3-l4-bg: #d2eafd;
  --w3-l3: #000;
  --w3-l3-bg: #a6d4fa;
  --w3-l2: #000;
  --w3-l2-bg: #79bff8;
  --w3-l1: #fff;
  --w3-l1-bg: #4daaf6;
  --w3-d1: #fff;
  --w3-d1-bg: #0c87eb;
  --w3-d2: #fff;
  --w3-d2-bg: #0b78d1;
  --w3-d3: #fff;
  --w3-d3-bg: #0a69b7;
  --w3-d4: #fff;
  --w3-d4-bg: #085a9d;
  --w3-d5: #fff;
  --w3-d5-bg: #074b83;
  --w3-light: #000;
  --w3-light-bg: #f2f9fe;
  --w3-dark: #fff;
  --w3-dark-bg: #074b83;
  --w3-action: #fff;
  --w3-action-bg: #074b83;
  --w3: #fff;
  --w3-bg: #2196f3;
  --w3-text: #2196f3;
  --w3-border: #2196f3;
  --w3-hover: #fff;
  --w3-hover-bg: #2196f3;
  --w3-hover-text: #2196f3;
  --w3-hover-border: #2196f3;
}
