:root {
--w3-l5: #000;
--w3-l5-bg: #f9f9f9;
--w3-l4: #000;
--w3-l4-bg: #ececec;
--w3-l3: #000;
--w3-l3-bg: #d8d8d8;
--w3-l2: #000;
--w3-l2-bg: #c5c5c5;
--w3-l1: #000;
--w3-l1-bg: #b1b1b1;
--w3-d1: #fff;
--w3-d1-bg: #8e8e8e;
--w3-d2: #fff;
--w3-d2-bg: #7e7e7e;
--w3-d3: #fff;
--w3-d3-bg: #6f6f6f;
--w3-d4: #fff;
--w3-d4-bg: #5f5f5f;
--w3-d5: #fff;
--w3-d5-bg: #4f4f4f;
--w3-light: #000;
--w3-light-bg: #f9f9f9;
--w3-dark: #fff;
--w3-dark-bg: #4f4f4f;
--w3-action: #fff;
--w3-action-bg: #4f4f4f;
--w3: #fff;
--w3-bg: #9e9e9e;
--w3-text: #9e9e9e;
--w3-border: #9e9e9e;
--w3-hover: #fff;
--w3-hover-bg: #9e9e9e;
--w3-hover-text: #9e9e9e;
--w3-hover-border: #9e9e9e;
}
