:root {
  --w3-l5: #000;
  --w3-l5-bg: #fefef8;
  --w3-l4: #000;
  --w3-l4-bg: #fcfae8;
  --w3-l3: #000;
  --w3-l3-bg: #f9f5d2;
  --w3-l2: #000;
  --w3-l2-bg: #f6f0bb;
  --w3-l1: #000;
  --w3-l1-bg: #f3eba5;
  --w3-d1: #000;
  --w3-d1-bg: #ecdf6c;
  --w3-d2: #000;
  --w3-d2-bg: #e8d84a;
  --w3-d3: #000;
  --w3-d3-bg: #e3d029;
  --w3-d4: #000;
  --w3-d4-bg: #cbb91a;
  --w3-d5: #fff;
  --w3-d5-bg: #a99b16;
  --w3-light: #000;
  --w3-light-bg: #fefef8;
  --w3-dark: #fff;
  --w3-dark-bg: #a99b16;
  --w3-action: #fff;
  --w3-action-bg: #a99b16;
  --w3: #000;
  --w3-bg: #f0e68c;
  --w3-text: #f0e68c;
  --w3-border: #f0e68c;
  --w3-hover: #000;
  --w3-hover-bg: #f0e68c;
  --w3-hover-text: #f0e68c;
  --w3-hover-border: #f0e68c;
}
