:root {
--w3-l5: #000;
--w3-l5-bg: #f8f4f3;
--w3-l4: #000;
--w3-l4-bg: #e7dcd7;
--w3-l3: #000;
--w3-l3-bg: #d0b8b0;
--w3-l2: #fff;
--w3-l2-bg: #b89588;
--w3-l1: #fff;
--w3-l1-bg: #a07261;
--w3-d1: #fff;
--w3-d1-bg: #6d4d41;
--w3-d2: #fff;
--w3-d2-bg: #61443a;
--w3-d3: #fff;
--w3-d3-bg: #553c33;
--w3-d4: #fff;
--w3-d4-bg: #49332c;
--w3-d5: #fff;
--w3-d5-bg: #3d2b24;
--w3-light: #000;
--w3-light-bg: #f8f4f3;
--w3-dark: #fff;
--w3-dark-bg: #3d2b24;
--w3-action: #fff;
--w3-action-bg: #3d2b24;
--w3: #fff;
--w3-bg: #795548;
--w3-text: #795548;
--w3-border: #795548;
--w3-hover: #fff;
--w3-hover-bg: #795548;
--w3-hover-text: #795548;
--w3-hover-border: #795548;
}
